<h1>Skate Park</h1>
<div class="py-4">
    <h2>Lista de participantes</h2>

    <hr />

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Años de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody class="skaters">                
        </tbody>
    </table>
    <a href="/login">Iniciar Sesión</a> |
    <a href="/registro">Registrarme</a>
</div>

<script>
    const getSkaters = async function() {
        try {
            const {data} = await axios.get("http://localhost:10000/skaters");
            $(".skaters").html("");
            for (const skater of data) {
                estado = skater.estado === true;
                if (estado === true) {
                    estado = "Aprobado";
                    $(".skaters").append(`
                        <tr>
                            <td>${skater.id}</td>
                            <td><img src="/img/${skater.foto}" alt="Foto de ${skater.nombre}" width="100" name="foto" type="file"></td>
                            <td>${skater.nombre}</td>
                            <td>${skater.anos_experiencia}</td>
                            <td>${skater.especialidad}</td>
                            <td class="text-success font-weight-bold">${estado}</td>
                        </tr>
                    `);
                }else if(estado === false) {
                    estado = "En revision";
                    $(".skaters").append(`
                    <tr>
                        <td>${skater.id}</td>
                        <td><img src="/img/${skater.foto}" alt="Foto de ${skater.nombre}" width="100"></td>
                        <td>${skater.nombre}</td>
                        <td>${skater.anos_experiencia}</td>
                        <td>${skater.especialidad}</td>
                        <td class="text-warning font-weight-bold">${estado}</td>
                    </tr>
                `);
                }                    
            }                
        } catch (e) {
            console.error("Error al obtener skaters:", e);
            alert("Algo salió mal al obtener skaters");
        }
    };
    getSkaters();
</script>